<?xml version="1.0" encoding="UTF-8"?>
<config>
	<features>
		<validFeatureNames>
			see
			at.fhv.itm14.fhvgis.analysis.model.FeatureVectorDefinition.java
		</validFeatureNames>
		<feature>
			<name>avgSpeed</name>
			<index>1</index>
			<enabled>true</enabled>
		</feature>
		<feature>
			<name>avgAcc</name>
			<index>2</index>
			<enabled>true</enabled>
		</feature>
		<feature>
			<name>maxSpeed</name>
			<index>3</index>
			<enabled>true</enabled>
		</feature>
		<feature>
			<name>minSpeed</name>
			<index>4</index>
			<enabled>true</enabled>
		</feature>
	</features>
	<modes>
		<mode>
			<name>Stationary</name>
			<id>0</id>
			<enabled>true</enabled>
		</mode>
		<mode>
			<name>Walking</name>
			<id>1</id>
			<enabled>true</enabled>
		</mode>
		<mode>
			<name>Bicycle</name>
			<id>2</id>
			<enabled>true</enabled>
		</mode>
		<mode>
			<name>Bus</name>
			<id>3</id>
			<enabled>true</enabled>
		</mode>
		<mode>
			<name>Train</name>
			<id>4</id>
			<enabled>true</enabled>
		</mode>
		<mode>
			<name>Car</name>
			<id>5</id>
			<enabled>true</enabled>
		</mode>
	</modes>
	<classifiers>
		<validClassifierNames>
			see
			at.fhv.itm14.fhvgis.analysis.Controller.java
		</validClassifierNames>
		<classifier>
			<name>J48</name>
			<enabled>true</enabled>
		</classifier>
		<classifier>
			<name>PART</name>
			<enabled>false</enabled>
		</classifier>
		<classifier>
			<name>DecisionTable</name>
			<enabled>true</enabled>
		</classifier>
		<classifier>
			<name>DecisionStump</name>
			<enabled>true</enabled>
		</classifier>
		<classifier>
			<name>RandomForest</name>
			<enabled>true</enabled>
		</classifier>
		<classifier>
			<name>NaiveBayes</name>
			<enabled>true</enabled>
		</classifier>
		<classifier>
			<name>BayesNet</name>
			<!-- Warning: discretizing data set -->
			<enabled>false</enabled>
		</classifier>
		<classifier>
			<name>MultilayerPerceptron</name>
			<enabled>true</enabled>
		</classifier>
	</classifiers>
</config> 